#div1 {
    border: 1px;
    background-color: blue;
    border-radius:  25px;
    width: 300;
    height: 300;
}


#div2 {
    border: 1px;
    background-color: red;
    border-radius:  25px;
    width: 300px;
    height: 300px;
}