body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.box {
    width: 250px;
    height: 250px;
    background-color: black;
    transition: background-color 0.3s ease;
}

.box:hover {
    background-color: blue;
}








.animated-div {
    width: 150px;
    height: 150px;
    background-color: black;
    transition: transform 0.5s ease;
}

.animated-div:hover {
    transform: translate(-50px, 100px) scale(2) rotate(-180deg);
}