.box {
    width: 250px;
    height: 250px;
    background-color: blue;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: background-color 2s ease;
}

.box:active {
    background-color: red;
}
