
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #f5f5f5;
}


header {
    background-color: #0073e6;
    color: white;
    padding: 20px;
    font-size: 24px;
}


.content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    margin: 20px auto;
    width: 80%;
    background: white;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}


.text-div {
    width: 50%;
    text-align: left;
    padding: 20px;
}


.image-div img {
    width: 100%;
    max-width: 400px;
    height: auto;
    border-radius: 8px;
}


footer {
    background-color: #0073e6;
    color: white;
    padding: 10px;
    margin-top: 20px;
}


@media (max-width: 1200px) {
    .content {
        width: 40%;
        flex-direction: column;
    }
    .text-div, .image-box {
        width: 100%;
    }
}

@media (max-width: 768px) {
    .content {
        width: 20%;
    }
}

@media (max-width: 480px) {
    .content {
        width: 10%;
    }
}
